@page
@model GUI.Pages.LoginModel
@{
    ViewData["Title"] = "Đăng nhập";
}
<div class="text-center">
    <h1 class="display-4">Đăng nhập</h1>
    <table>
        <tbody>
            <tr>
                <td>Tên đăng nhập</td>
                <td><input /></td>
            </tr>
            <tr>
                <td>Mật khẩu</td>
                <td><input /></td>
            </tr>
        </tbody>
    </table>
</div>