@page
@model GUI.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin";
}
<div class="text-center">
    <h1 class="display-4">Người quản trị</h1>
    <div class="us"></div>
    <div >
        <table class="userDisplay table">

        </table>
    </div>
</div>

